<p>Here is a list of Reviews you wrote:</p>
<% @reviews.each do |review| %>
  <%= link_to review.title, album_path(review.album_id) %><br>
  <%= review.content %>
  <br><br>
<% end %>

<br>
<% if @user.reviews == nil? %>
<p>No reviews yet!</p>
<p>Choose from the list of albums to review <%= link_to "here!", albums_path %></p>
<% end %>
